Repository dotnet-project-file-analyzers/dotnet-project-file-analyzers, pull requests merged in 2023-07, with the labels that each got.

#3 New Rule Proj0003: Define usings explicitly
  README.md
  build.sln
  dotnet-project-file-analyzers.sln
  projects/ImplicitUsings/ImplicitUsings.csproj
  projects/ImplicitUsings/Placeholder.cs
  rules/Proj0003.md
  specs/DotNetProjectFile.Analyzers.Specs/Design_specs.cs
  specs/DotNetProjectFile.Analyzers.Specs/Extensions/Microsoft.CodeAnalysis.Diagnostics.DiagnosticAnalyzer.cs
  specs/DotNetProjectFile.Analyzers.Specs/Extensions/System.Threading.Tasks.Run.Sync.cs
  specs/DotNetProjectFile.Analyzers.Specs/FluentAssertions/FindsExtensions.cs
  specs/DotNetProjectFile.Analyzers.Specs/FluentAssertions/Issue.cs
  specs/DotNetProjectFile.Analyzers.Specs/Properties/GlobalUsings.cs
  specs/DotNetProjectFile.Analyzers.Specs/Rules/Define_usings_explicit.cs
  specs/DotNetProjectFile.Analyzers.Specs/Rules/Project_file_could_not_be_located.cs
  specs/DotNetProjectFile.Analyzers.Specs/Rules/Use_analyzers_for_packages.cs
  src/DotNetProjectFile.Analyzers/Analyzers/DefineUsingsExplicit.cs
  src/DotNetProjectFile.Analyzers/Analyzers/ProjectFileCouldNotBeLocated.cs
  src/DotNetProjectFile.Analyzers/Analyzers/UseAnalyzersForPackages.cs
  src/DotNetProjectFile.Analyzers/Diagnostics/ProjectFileAnalysisContext.cs
  src/DotNetProjectFile.Analyzers/DotNetProjectFile.Analyzers.csproj
  src/DotNetProjectFile.Analyzers/Extensions/Microsoft.CodeAnalysis.Text.LinePosition.cs
  src/DotNetProjectFile.Analyzers/Extensions/Microsoft.CodeAnalysis.Text.TextSpan.cs
  src/DotNetProjectFile.Analyzers/Extensions/System.Xml.IXmlLineInfo.cs
  src/DotNetProjectFile.Analyzers/Properties/GlobalUsings.cs
  src/DotNetProjectFile.Analyzers/README.md
  src/DotNetProjectFile.Analyzers/Rule.cs
  src/DotNetProjectFile.Analyzers/Xml/ImplicitUsings.cs
  src/DotNetProjectFile.Analyzers/Xml/Import.cs
  src/DotNetProjectFile.Analyzers/Xml/ItemGroup.cs
  src/DotNetProjectFile.Analyzers/Xml/Node.cs
  src/DotNetProjectFile.Analyzers/Xml/PackageReference.cs
  src/DotNetProjectFile.Analyzers/Xml/Project.cs
  src/DotNetProjectFile.Analyzers/Xml/PropertyGroup.cs
  src/DotNetProjectFile.Analyzers/Xml/Unknown.cs
Labels: New rule

#4 New Rule Proj0002: Upgrade legacy .NET project files
  README.md
  build.sln
  dotnet-project-file-analyzers.sln
  projects/LegacyProject/LegacyProject.csproj
  projects/LegacyProject/Placeholder.cs
  rules/Proj0002.md
  specs/DotNetProjectFile.Analyzers.Specs/Design_specs.cs
  specs/DotNetProjectFile.Analyzers.Specs/Rules/Project_file_could_not_be_located.cs
  specs/DotNetProjectFile.Analyzers.Specs/Rules/Update_legacy_project.cs
  src/DotNetProjectFile.Analyzers/Analyzers/GuardUnsupported.cs
  src/DotNetProjectFile.Analyzers/Analyzers/ProjectFileCouldNotBeLocated.cs
  src/DotNetProjectFile.Analyzers/Diagnostics/Category.cs
  src/DotNetProjectFile.Analyzers/DotNetProjectFile.Analyzers.csproj
  src/DotNetProjectFile.Analyzers/Extensions/Microsoft.CodeAnalysis.Diagnostics.AnalysisContext.cs
  src/DotNetProjectFile.Analyzers/README.md
  src/DotNetProjectFile.Analyzers/Rule.cs
Labels: New rule

#5 New Rule Proj0004: Run NuGet security audits automatically
  README.md
  build.sln
  dotnet-project-file-analyzers.sln
  projects/CompliantCSharp/CompliantCSharp.csproj
  projects/CompliantVB/CompliantVB.vbproj
  projects/DisabledNugetAudit/DisabledNugetAudit.csproj
  projects/DisabledNugetAudit/Placeholder.cs
  projects/NoNugetAudit/NoNugetAudit.csproj
  projects/NoNugetAudit/Placeholder.cs
  rules/Proj0004.md
  specs/DotNetProjectFile.Analyzers.Specs/Rules/Run_NuGet_security_audits_automatically.cs
  src/DotNetProjectFile.Analyzers/Analyzers/RunNuGetSecurityAuditsAutomatically.cs
  src/DotNetProjectFile.Analyzers/Diagnostics/Category.cs
  src/DotNetProjectFile.Analyzers/Extensions/System.Linq.Enumerable.cs
  src/DotNetProjectFile.Analyzers/README.md
  src/DotNetProjectFile.Analyzers/Rule.cs
  src/DotNetProjectFile.Analyzers/Xml/Node.cs
  src/DotNetProjectFile.Analyzers/Xml/NuGetAudit.cs
  src/DotNetProjectFile.Analyzers/Xml/PropertyGroup.cs
Labels: New rule

#6 FN Proj0002: Microsoft.CodeAnalysis.Analyzers should be advised
  projects/PackagesWithAnalyzers/PackagesWithAnalyzers.csproj
  projects/PackagesWithAnalyzers/Placeholder.cs
  projects/PackagesWithoutAnalyzers/PackagesWithoutAnalyzers.csproj
  projects/PackagesWithoutAnalyzers/Placeholder.cs
  rules/Proj1001.md
  specs/DotNetProjectFile.Analyzers.Specs/DotNetProjectFile.Analyzers.Specs.csproj
  specs/DotNetProjectFile.Analyzers.Specs/Rules/Use_analyzers_for_packages.cs
  src/DotNetProjectFile.Analyzers/Analyzers/UseAnalyzersForPackages.cs
  src/DotNetProjectFile.Analyzers/DotNetProjectFile.Analyzers.csproj
Labels: FN

#7 New Rule Proj0005: Define package reference assets as attributes
  build.sln
  dotnet-project-file-analyzers.sln
  projects/LegacyProject/LegacyProject.csproj
  projects/PackageReferenceAssetsAsAttributes/PackageReferenceAssetsAsAttributes.csproj
  projects/PackageReferenceAssetsAsAttributes/Placeholder.cs
  projects/PackageReferenceAssetsAsElements/PackageReferenceAssetsAsElements.csproj
  projects/PackageReferenceAssetsAsElements/Placeholder.cs
  rules/Proj0005.md
  specs/DotNetProjectFile.Analyzers.Specs/Rules/Define_package_reference_assets_as_attributes.cs
  src/DotNetProjectFile.Analyzers/Analyzers/DefinePackageReferenceAssetsAsAttributes.cs
  src/DotNetProjectFile.Analyzers/Diagnostics/ProjectFileAnalysisContext.cs
  src/DotNetProjectFile.Analyzers/Extensions/System.String.cs
  src/DotNetProjectFile.Analyzers/Rule.cs
Labels: New rule

#8 FP Proj1001: Drop Qowaiv.Analyzers.CSharp as a package specific analyzer
  projects/PackagesWithAnalyzers/PackagesWithAnalyzers.csproj
  projects/PackagesWithAnalyzers/Placeholder.cs
  projects/PackagesWithoutAnalyzers/PackagesWithoutAnalyzers.csproj
  projects/PackagesWithoutAnalyzers/Placeholder.cs
  projects/props/common.props
  rules/Proj1001.md
  specs/DotNetProjectFile.Analyzers.Specs/Rules/Use_analyzers_for_packages.cs
  src/DotNetProjectFile.Analyzers/Analyzers/UseAnalyzersForPackages.cs
  src/DotNetProjectFile.Analyzers/DotNetProjectFile.Analyzers.csproj
Labels: FP

#9 New Rule Proj1000: Use the .NET project file analyzers
  README.md
  build.sln
  dotnet-project-file-analyzers.sln
  projects/CompliantCSharp/CompliantCSharp.csproj
  projects/CompliantVB/CompliantVB.vbproj
  projects/EmptyProject/EmptyProject.csproj
  projects/EmptyProject/Palceholder.cs
  rules/Proj1000.md
  specs/DotNetProjectFile.Analyzers.Specs/Rules/Use_analyzers_for_packages.cs
  specs/DotNetProjectFile.Analyzers.Specs/Rules/Use_dotnet_project_file_analyzers.cs
  src/DotNetProjectFile.Analyzers/Analyzers/UseAnalyzers.cs
  src/DotNetProjectFile.Analyzers/DotNetProjectFile.Analyzers.csproj
  src/DotNetProjectFile.Analyzers/Extensions/System.String.cs
  src/DotNetProjectFile.Analyzers/ProjectFileAnalyzer.cs
  src/DotNetProjectFile.Analyzers/README.md
  src/DotNetProjectFile.Analyzers/Rule.cs
Labels: New rule

#10 New Rule Proj0006: Add additional files to improve static code analysis
  README.md
  dotnet-project-file-analyzers.sln
  rules/Proj0006.md
  specs/DotNetProjectFile.Analyzers.Specs/Rules/Add_additional_files.cs
  src/DotNetProjectFile.Analyzers/Analyzers/AddAdditionalFile.cs
  src/DotNetProjectFile.Analyzers/Diagnostics/ProjectFileAnalysisContext.cs
  src/DotNetProjectFile.Analyzers/DotNetProjectFile.Analyzers.csproj
  src/DotNetProjectFile.Analyzers/README.md
  src/DotNetProjectFile.Analyzers/Rule.cs
  src/DotNetProjectFile.Analyzers/Xml/Project.cs
Labels: New rule

#13 New Rule Proj0008: Remove folder nodes
  README.md
  dotnet-project-file-analyzers.sln
  projects/FolderNodes/FolderNodes.csproj
  projects/FolderNodes/Placeholder.cs
  rules/Proj0005.md
  rules/Proj0008.md
  specs/DotNetProjectFile.Analyzers.Specs/Rules/Remove_empty_nodes.cs
  specs/DotNetProjectFile.Analyzers.Specs/Rules/Remove_folder_nodes.cs
  src/DotNetProjectFile.Analyzers/Analyzers/RemoveFolderNodes.cs
  src/DotNetProjectFile.Analyzers/DotNetProjectFile.Analyzers.csproj
  src/DotNetProjectFile.Analyzers/README.md
  src/DotNetProjectFile.Analyzers/Rule.cs
  src/DotNetProjectFile.Analyzers/Xml/Folder.cs
  src/DotNetProjectFile.Analyzers/Xml/ItemGroup.cs
  src/DotNetProjectFile.Analyzers/Xml/Node.cs
Labels: New rule

#14 New Rule Proj0009: Use the TragetFramework node for a single target framework
  README.md
  build.sln
  dotnet-project-file-analyzers.sln
  projects/TargetFrameworksMultiple/Placeholder.cs
  projects/TargetFrameworksMultiple/TargetFrameworksMultiple.csproj
  projects/TargetFrameworksSingle/Placeholder.cs
  projects/TargetFrameworksSingle/TargetFrameworksSingle.csproj
  rules/Proj0009.md
  specs/DotNetProjectFile.Analyzers.Specs/Rules/Define_single_target_framework.cs
  src/DotNetProjectFile.Analyzers/Analyzers/DefineSingleTargetFramework.cs
  src/DotNetProjectFile.Analyzers/Analyzers/RemoveEmptyNodes.cs
  src/DotNetProjectFile.Analyzers/Analyzers/RunNuGetSecurityAuditsAutomatically.cs
  src/DotNetProjectFile.Analyzers/DotNetProjectFile.Analyzers.csproj
  src/DotNetProjectFile.Analyzers/README.md
  src/DotNetProjectFile.Analyzers/Rule.cs
  src/DotNetProjectFile.Analyzers/Xml/Folder.cs
  src/DotNetProjectFile.Analyzers/Xml/Import.cs
  src/DotNetProjectFile.Analyzers/Xml/ItemGroup.cs
  src/DotNetProjectFile.Analyzers/Xml/Node.cs
  src/DotNetProjectFile.Analyzers/Xml/Nodes.cs
  src/DotNetProjectFile.Analyzers/Xml/PackageReference.cs
  src/DotNetProjectFile.Analyzers/Xml/Project.cs
  src/DotNetProjectFile.Analyzers/Xml/PropertyGroup.cs
  src/DotNetProjectFile.Analyzers/Xml/TargetFramework.cs
  src/DotNetProjectFile.Analyzers/Xml/TargetFrameworks.cs
Labels: New rule

#32 Add a .NET project file analyzer logo
  README.md
  design/logo.psd
  design/logo_128x128.png
  dotnet-project-file-analyzers.sln
  src/DotNetProjectFile.Analyzers/DotNetProjectFile.Analyzers.csproj
Labels: enhancement

#35 Use MS Build project file term when applicable
  README.md
  dictionary.dic
  rules/Proj0001.md
  rules/Proj0002.md
  rules/Proj0007.md
  specs/DotNetProjectFile.Analyzers.Specs/Rules/Update_legacy_project.cs
  src/DotNetProjectFile.Analyzers/Analyzers/UseAnalyzersForPackages.cs
  src/DotNetProjectFile.Analyzers/Diagnostics/ProjectFileAnalysisContext.cs
  src/DotNetProjectFile.Analyzers/DotNetProjectFile.Analyzers.csproj
  src/DotNetProjectFile.Analyzers/MsBuild/Conversion/StringConverter.cs
  src/DotNetProjectFile.Analyzers/MsBuild/Conversion/TypeConverters.cs
  src/DotNetProjectFile.Analyzers/MsBuild/Folder.cs
  src/DotNetProjectFile.Analyzers/MsBuild/ImplicitUsings.cs
  src/DotNetProjectFile.Analyzers/MsBuild/Import.cs
  src/DotNetProjectFile.Analyzers/MsBuild/ItemGroup.cs
  src/DotNetProjectFile.Analyzers/MsBuild/Node.cs
  src/DotNetProjectFile.Analyzers/MsBuild/Nodes.cs
  src/DotNetProjectFile.Analyzers/MsBuild/NuGetAudit.cs
  src/DotNetProjectFile.Analyzers/MsBuild/PackageReference.cs
  src/DotNetProjectFile.Analyzers/MsBuild/Project.cs
  src/DotNetProjectFile.Analyzers/MsBuild/Projects.cs
  src/DotNetProjectFile.Analyzers/MsBuild/PropertyGroup.cs
  src/DotNetProjectFile.Analyzers/MsBuild/TargetFramework.cs
  src/DotNetProjectFile.Analyzers/MsBuild/TargetFrameworks.cs
  src/DotNetProjectFile.Analyzers/MsBuild/Unknown.cs
  src/DotNetProjectFile.Analyzers/Properties/GlobalUsings.cs
  src/DotNetProjectFile.Analyzers/README.md
  src/DotNetProjectFile.Analyzers/Rule.cs
Labels: documentation

#36 Validate own project file
  specs/DotNetProjectFile.Analyzers.Specs/Design_specs.cs
  specs/DotNetProjectFile.Analyzers.Specs/Rules/All.cs
  src/DotNetProjectFile.Analyzers/DotNetProjectFile.Analyzers.csproj
  src/DotNetProjectFile.Analyzers/MsBuild/Projects.cs
Labels: enhancement

#37 Trigger ProjectFileAnalysisContext for projects and linked props
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/AddAdditionalFile.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/DefinePackageReferenceAssetsAsAttributes.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/DefineSingleTargetFramework.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/DefineUsingsExplicit.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/RemoveEmptyNodes.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/RemoveFolderNodes.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/RunNuGetSecurityAuditsAutomatically.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/UseAnalyzers.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/UseAnalyzersForPackages.cs
  src/DotNetProjectFile.Analyzers/Diagnostics/ProjectFileAnalysisContext.cs
  src/DotNetProjectFile.Analyzers/Extensions/Microsoft.CodeAnalysis.Diagnostics.AnalysisContext.cs
  src/DotNetProjectFile.Analyzers/MsBuild/Import.cs
  src/DotNetProjectFile.Analyzers/MsBuild/Project.cs
  src/DotNetProjectFile.Analyzers/MsBuild/Projects.cs
Labels: enhancement

#42 New Rule Proj2001: Define data in a resource file
  README.md
  dotnet-project-file-analyzers.sln
  projects/EmptyProjectVB/EmptyProjectVB.vbproj
  projects/LegacyProject/Placeholder.cs
  projects/ResxNoData/Placeholder.cs
  projects/ResxNoData/Resources.resx
  projects/ResxNoData/ResxNoData.csproj
  projects/SonarVB/SonarVB.vbproj
  rules/Proj1003.md
  rules/Proj2001.md
  rules/Proj2002.md
  specs/DotNetProjectFile.Analyzers.Specs/Rules/RESX/Define_data_in_resource.cs
  src/DotNetProjectFile.Analyzers/Analyzers/Resx/DefineData.cs
  src/DotNetProjectFile.Analyzers/Diagnostics/Category.cs
  src/DotNetProjectFile.Analyzers/MsBuild/Unknown.cs
  src/DotNetProjectFile.Analyzers/README.md
  src/DotNetProjectFile.Analyzers/Resx/Node.cs
  src/DotNetProjectFile.Analyzers/Rule.cs
Labels: New rule

#44 Fix typos
  rules/Proj0009.md
  specs/DotNetProjectFile.Analyzers.Specs/Rules/MS_Build/Define_single_target_framework.cs
  src/DotNetProjectFile.Analyzers/DotNetProjectFile.Analyzers.csproj
  src/DotNetProjectFile.Analyzers/Rule.cs
Labels: documentation

#43 Add more package analyzers
  projects/PackagesWithAnalyzers/PackagesWithAnalyzers.csproj
  projects/PackagesWithoutAnalyzers/PackagesWithoutAnalyzers.csproj
  rules/Proj1001.md
  specs/DotNetProjectFile.Analyzers.Specs/Rules/MS_Build/Use_analyzers_for_packages.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/UseAnalyzersForPackages.cs
  src/DotNetProjectFile.Analyzers/DotNetProjectFile.Analyzers.csproj
Labels: FN

#45 New Rule Proj0010: Define the OutputType explicitly
  README.md
  dotnet-project-file-analyzers.sln
  projects/CompliantCSharp/CompliantCSharp.csproj
  projects/CompliantVB/CompliantVB.vbproj
  projects/NoOutputType/NoOutputType.csproj
  projects/NoOutputType/Placeholder.cs
  projects/PackagesWithAnalyzers/PackagesWithAnalyzers.csproj
  rules/Proj0010.md
  specs/DotNetProjectFile.Analyzers.Specs/Rules/MS_Build/Define_output_type.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/DefineOutputType.cs
  src/DotNetProjectFile.Analyzers/DotNetProjectFile.Analyzers.csproj
  src/DotNetProjectFile.Analyzers/MsBuild/Node.cs
  src/DotNetProjectFile.Analyzers/MsBuild/OutputType.cs
  src/DotNetProjectFile.Analyzers/MsBuild/PropertyGroup.cs
  src/DotNetProjectFile.Analyzers/README.md
  src/DotNetProjectFile.Analyzers/Rule.cs
Labels: New rule

#48 New Rule Proj2003: Add invariant fallback resources
  README.md
  dictionary.dic
  dotnet-project-file-analyzers.sln
  projects/ResxNoInvariant/Placeholder.cs
  projects/ResxNoInvariant/Resources.nl.resx
  projects/ResxNoInvariant/ResxNoInvariant.csproj
  rules/Proj2003.md
  specs/DotNetProjectFile.Analyzers.Specs/Rules/RESX/Add_invariant_fallback_resources.cs
  src/DotNetProjectFile.Analyzers/Analyzers/Resx/AddInvariantFallbackResources.cs
  src/DotNetProjectFile.Analyzers/Diagnostics/Category.cs
  src/DotNetProjectFile.Analyzers/DotNetProjectFile.Analyzers.csproj
  src/DotNetProjectFile.Analyzers/Extensions/System.Globalization.CultureInfo.cs
  src/DotNetProjectFile.Analyzers/README.md
  src/DotNetProjectFile.Analyzers/Resx/Resource.cs
  src/DotNetProjectFile.Analyzers/Resx/ResourceFileInfo.cs
  src/DotNetProjectFile.Analyzers/Resx/Resources.cs
  src/DotNetProjectFile.Analyzers/Rule.cs
Labels: New rule

#49 New Rule Proj2004: Add invariant fallback value
  README.md
  dotnet-project-file-analyzers.sln
  projects/ResxMissingInvariant/Chess.de-AT.resx
  projects/ResxMissingInvariant/Chess.nl.resx
  projects/ResxMissingInvariant/Chess.resx
  projects/ResxMissingInvariant/Placeholder.cs
  projects/ResxMissingInvariant/ResxMissingInvariant.csproj
  rules/Proj2004.md
  specs/DotNetProjectFile.Analyzers.Specs/Rules/RESX/Add_invariant_fallback_values.cs
  src/DotNetProjectFile.Analyzers/Analyzers/Resx/AddInvariantFallbackValues.cs
  src/DotNetProjectFile.Analyzers/DotNetProjectFile.Analyzers.csproj
  src/DotNetProjectFile.Analyzers/Extensions/System.Globalization.CultureInfo.cs
  src/DotNetProjectFile.Analyzers/README.md
  src/DotNetProjectFile.Analyzers/Resx/Resource.cs
  src/DotNetProjectFile.Analyzers/Rule.cs
Labels: New rule

#50 New Rule Proj0011: Define properties once
  README.md
  dotnet-project-file-analyzers.sln
  projects/PropertiesTwice/Placeholder.cs
  projects/PropertiesTwice/PropertiesTwice.csproj
  props/common.props
  rules/Proj0003.md
  rules/Proj0011.md
  specs/DotNetProjectFile.Analyzers.Specs/Rules/MS_Build/Define_properties_once.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/DefineOutputType.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/DefinePropertiesOnce.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/RunNuGetSecurityAuditsAutomatically.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/UseAnalyzers.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/UseAnalyzersForPackages.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/UseSonarAnalyzers.cs
  src/DotNetProjectFile.Analyzers/DotNetProjectFile.Analyzers.csproj
  src/DotNetProjectFile.Analyzers/Extensions/Microsoft.CodeAnalysis.Diagnostics.AnalysisContext.cs
  src/DotNetProjectFile.Analyzers/MsBuild/Folder.cs
  src/DotNetProjectFile.Analyzers/MsBuild/ImplicitUsings.cs
  src/DotNetProjectFile.Analyzers/MsBuild/Import.cs
  src/DotNetProjectFile.Analyzers/MsBuild/ItemGroup.cs
  src/DotNetProjectFile.Analyzers/MsBuild/Node.cs
  src/DotNetProjectFile.Analyzers/MsBuild/NuGetAudit.cs
  src/DotNetProjectFile.Analyzers/MsBuild/OutputType.cs
  src/DotNetProjectFile.Analyzers/MsBuild/PackageReference.cs
  src/DotNetProjectFile.Analyzers/MsBuild/Project.cs
  src/DotNetProjectFile.Analyzers/MsBuild/PropertyGroup.cs
  src/DotNetProjectFile.Analyzers/MsBuild/TargetFramework.cs
  src/DotNetProjectFile.Analyzers/MsBuild/TargetFrameworks.cs
  src/DotNetProjectFile.Analyzers/MsBuild/Unknown.cs
  src/DotNetProjectFile.Analyzers/README.md
  src/DotNetProjectFile.Analyzers/Rule.cs
Labels: New rule

#53 Adding benchmarks
  dotnet-project-file-analyzers.sln
  specs/Benchmarks/Benchmarks.csproj
  specs/Benchmarks/Program.cs
  specs/Benchmarks/Properties/GlobalUsings.cs
  specs/Benchmarks/README.md
  specs/Benchmarks/RunAll.cs
Labels: enhancement

#55 Ensure documentation mentions all rules
  README.md
  dictionary.dic
  dotnet-project-file-analyzers.sln
  projects/SonarCS/SonarCS.csproj
  projects/SonarVB/SonarVB.vbproj
  specs/DotNetProjectFile.Analyzers.Specs/Design_specs.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/DefineIsPackable.cs
  src/DotNetProjectFile.Analyzers/DotNetProjectFile.Analyzers.csproj
Labels: documentation, enhancement

#58 Report obsolete <PackageLicenseUrl> on on node
  specs/DotNetProjectFile.Analyzers.Specs/Rules/MS_Build/Avoid_license_url.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/AvoidLicenseUrl.cs
Labels: enhancement

#60 Ensure build runs
  projects/CompliantVBPackage/CompliantVBPackage.vbproj
  specs/DotNetProjectFile.Analyzers.Specs/Rules/MS_Build/Add_additional_files.cs
  specs/DotNetProjectFile.Analyzers.Specs/Rules/MS_Build/Avoid_license_url.cs
  specs/DotNetProjectFile.Analyzers.Specs/Rules/MS_Build/Define_is_packable.cs
  specs/DotNetProjectFile.Analyzers.Specs/Rules/MS_Build/Define_output_type.cs
  specs/DotNetProjectFile.Analyzers.Specs/Rules/MS_Build/Define_package_info.cs
  specs/DotNetProjectFile.Analyzers.Specs/Rules/MS_Build/Define_package_reference_assets_as_attributes.cs
  specs/DotNetProjectFile.Analyzers.Specs/Rules/MS_Build/Define_properties_once.cs
  specs/DotNetProjectFile.Analyzers.Specs/Rules/MS_Build/Define_single_target_framework.cs
  specs/DotNetProjectFile.Analyzers.Specs/Rules/MS_Build/Define_usings_explicit.cs
  specs/DotNetProjectFile.Analyzers.Specs/Rules/MS_Build/Project_file_could_not_be_located.cs
  specs/DotNetProjectFile.Analyzers.Specs/Rules/MS_Build/Remove_empty_nodes.cs
  specs/DotNetProjectFile.Analyzers.Specs/Rules/MS_Build/Remove_folder_nodes.cs
  specs/DotNetProjectFile.Analyzers.Specs/Rules/MS_Build/Run_NuGet_security_audits_automatically.cs
  specs/DotNetProjectFile.Analyzers.Specs/Rules/MS_Build/Update_legacy_project.cs
  specs/DotNetProjectFile.Analyzers.Specs/Rules/MS_Build/Use_analyzers_for_packages.cs
  specs/DotNetProjectFile.Analyzers.Specs/Rules/MS_Build/Use_dotnet_project_file_analyzers.cs
  specs/DotNetProjectFile.Analyzers.Specs/Rules/RESX/Add_invariant_fallback_resources.cs
  specs/DotNetProjectFile.Analyzers.Specs/Rules/RESX/Add_invariant_fallback_values.cs
  specs/DotNetProjectFile.Analyzers.Specs/Rules/RESX/Define_data_in_resource.cs
  specs/DotNetProjectFile.Analyzers.Specs/Rules/RESX/Embed_valid_resource_files.cs
  specs/DotNetProjectFile.Analyzers.Specs/Rules/RESX/Sort_data_alphabetically.cs
Labels: enhancement, help wanted

#57 New Rule Proj0012: Reassign properties with different value
  .editorconfig
  README.md
  build.sln
  dotnet-project-file-analyzers.sln
  projects/LegacyProject/LegacyProject.csproj
  projects/ReassignProperties/Placeholder.cs
  projects/ReassignProperties/ReassignProperties.csproj
  projects/props/common.props
  projects/props/common1.props
  projects/props/common2.props
  rules/Proj0012.md
  specs/DotNetProjectFile.Analyzers.Specs/Rules/MS_Build/Reassign_properties_with_different_value.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/DefineSingleTargetFramework.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/ReassignPropertiesWithDifferentValue.cs
  src/DotNetProjectFile.Analyzers/DotNetProjectFile.Analyzers.csproj
  src/DotNetProjectFile.Analyzers/MsBuild/Authors.cs
  src/DotNetProjectFile.Analyzers/MsBuild/Copyright.cs
  src/DotNetProjectFile.Analyzers/MsBuild/Description.cs
  src/DotNetProjectFile.Analyzers/MsBuild/Folder.cs
  src/DotNetProjectFile.Analyzers/MsBuild/ImplicitUsings.cs
  src/DotNetProjectFile.Analyzers/MsBuild/Import.cs
  src/DotNetProjectFile.Analyzers/MsBuild/IsPackable.cs
  src/DotNetProjectFile.Analyzers/MsBuild/Node.T.cs
  src/DotNetProjectFile.Analyzers/MsBuild/Node.cs
  src/DotNetProjectFile.Analyzers/MsBuild/NuGetAudit.cs
  src/DotNetProjectFile.Analyzers/MsBuild/OutputType.cs
  src/DotNetProjectFile.Analyzers/MsBuild/PackageIcon.cs
  src/DotNetProjectFile.Analyzers/MsBuild/PackageIconUrl.cs
  src/DotNetProjectFile.Analyzers/MsBuild/PackageLicenseExpression.cs
  src/DotNetProjectFile.Analyzers/MsBuild/PackageLicenseFile.cs
  src/DotNetProjectFile.Analyzers/MsBuild/PackageLicenseUrl.cs
  src/DotNetProjectFile.Analyzers/MsBuild/PackageProjectUrl.cs
  src/DotNetProjectFile.Analyzers/MsBuild/PackageReadmeFile.cs
  src/DotNetProjectFile.Analyzers/MsBuild/PackageReleaseNotes.cs
  src/DotNetProjectFile.Analyzers/MsBuild/PackageTags.cs
  src/DotNetProjectFile.Analyzers/MsBuild/Project.cs
  src/DotNetProjectFile.Analyzers/MsBuild/RepositoryUrl.cs
  src/DotNetProjectFile.Analyzers/MsBuild/TargetFramework.cs
  src/DotNetProjectFile.Analyzers/MsBuild/TargetFrameworks.cs
  src/DotNetProjectFile.Analyzers/MsBuild/Unknown.cs
  src/DotNetProjectFile.Analyzers/MsBuild/Version.cs
  src/DotNetProjectFile.Analyzers/Properties/GlobalUsings.cs
  src/DotNetProjectFile.Analyzers/README.md
  src/DotNetProjectFile.Analyzers/Rule.cs
Labels: New rule

#61 Use Property() on project to determine if a packabillity
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/DefinePackageInfo.cs
  src/DotNetProjectFile.Analyzers/MsBuild/MsBuildDefaults.cs
  src/DotNetProjectFile.Analyzers/MsBuild/Project.cs
Labels: enhancement

#62 New rule Proj0214: Define the NuGet project ID explicitly
  .editorconfig
  README.md
  dotnet-project-file-analyzers.sln
  projects/CompliantCSharpPackage/CompliantCSharpPackage.csproj
  projects/NoAuthors/NoAuthors.csproj
  projects/NoCopyright/NoCopyright.csproj
  projects/NoDescription/NoDescription.csproj
  projects/NoIcon/NoIcon.csproj
  projects/NoIconUrl/NoIconUrl.csproj
  projects/NoLicense/NoLicense.csproj
  projects/NoReadme/NoReadme.csproj
  projects/NoReleaseNotes/NoReleaseNotes.csproj
  projects/NoRepositoryUrl/NoRepositoryUrl.csproj
  projects/NoTags/NoTags.csproj
  projects/NoUrl/NoUrl.csproj
  projects/NoVersion/NoVersion.csproj
  projects/WithLicenseFile/WithLicenseFile.csproj
  rules/Proj0214.md
  specs/DotNetProjectFile.Analyzers.Specs/Rules/MS_Build/Define_package_info.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/DefinePackageInfo.cs
  src/DotNetProjectFile.Analyzers/DotNetProjectFile.Analyzers.csproj
  src/DotNetProjectFile.Analyzers/MsBuild/PackageId.cs
  src/DotNetProjectFile.Analyzers/MsBuild/PropertyGroup.cs
  src/DotNetProjectFile.Analyzers/README.md
  src/DotNetProjectFile.Analyzers/Rule.cs
Labels: New rule

#63 Introduction of ApplyToProps
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/DefineIsPackable.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/DefineOutputType.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/DefinePackageInfo.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/RunNuGetSecurityAuditsAutomatically.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/UseAnalyzers.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/UseAnalyzersForPackages.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/UseSonarAnalyzers.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuildProjectFileAnalyzer.cs
  src/DotNetProjectFile.Analyzers/MsBuild/MsBuildDefaults.cs
Labels: enhancement

#64 New rule Proj0013: Include package references once
  README.md
  dotnet-project-file-analyzers.sln
  projects/DoublePackageReferences/DoublePackageReferences.csproj
  projects/DoublePackageReferences/Placeholder.cs
  projects/props/DoublePackageReferences.props
  rules/Proj0012.md
  rules/Proj0013.md
  specs/DotNetProjectFile.Analyzers.Specs/Rules/MS_Build/Include_package_references_once.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/IncludePackageReferencesOnce.cs
  src/DotNetProjectFile.Analyzers/DotNetProjectFile.Analyzers.csproj
  src/DotNetProjectFile.Analyzers/MsBuild/PackageReference.cs
  src/DotNetProjectFile.Analyzers/README.md
  src/DotNetProjectFile.Analyzers/Rule.cs
Labels: New rule

#67 New Rule Proj0400: Explicit IsPublishable
  README.md
  dotnet-project-file-analyzers.sln
  projects/CompliantCSharp/CompliantCSharp.csproj
  projects/CompliantCSharpPackage/CompliantCSharpPackage.csproj
  rules/Proj0200.md
  rules/Proj0400.md
  specs/DotNetProjectFile.Analyzers.Specs/Rules/MS_Build/Define_is_publishable.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/DefineIsPublishable.cs
  src/DotNetProjectFile.Analyzers/DotNetProjectFile.Analyzers.csproj
  src/DotNetProjectFile.Analyzers/MsBuild/IsPublishable.cs
  src/DotNetProjectFile.Analyzers/MsBuild/PropertyGroup.cs
  src/DotNetProjectFile.Analyzers/README.md
  src/DotNetProjectFile.Analyzers/Rule.cs
Labels: New rule

#68 New Rules Proj0015 & Proj0016: Alphabetically order dependencies
  README.md
  dotnet-project-file-analyzers.sln
  projects/NonAlphabeticalPackageReferences/NonAlphabeticalPackageReferences.csproj
  projects/NonAlphabeticalPackageReferences/Placeholder.cs
  projects/NonAlphabeticalProjectReferences/NonAlphabeticalProjectReferences.csproj
  projects/NonAlphabeticalProjectReferences/Placeholder.cs
  rules/Proj0015.md
  rules/Proj0016.md
  specs/DotNetProjectFile.Analyzers.Specs/Rules/MS_Build/Order_package_references_in_alphabetical_order.cs
  specs/DotNetProjectFile.Analyzers.Specs/Rules/MS_Build/Order_project_references_in_alphabetical_order.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/OrderPackageReferencesAlphabetically.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/OrderProjectReferencesAlphabetically.cs
  src/DotNetProjectFile.Analyzers/DotNetProjectFile.Analyzers.csproj
  src/DotNetProjectFile.Analyzers/MsBuild/ItemGroup.cs
  src/DotNetProjectFile.Analyzers/MsBuild/ProjectReference.cs
  src/DotNetProjectFile.Analyzers/README.md
  src/DotNetProjectFile.Analyzers/Rule.cs
Labels: New rule

#70 New Rule Proj0014: Include project reference only once
  README.md
  dotnet-project-file-analyzers.sln
  projects/DoubleProjectReferences/DoubleProjectReferences.csproj
  projects/DoubleProjectReferences/Placeholder.cs
  rules/Proj0014.md
  specs/DotNetProjectFile.Analyzers.Specs/Rules/MS_Build/Include_project_references_once.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/IncludeProjectReferencesOnce.cs
  src/DotNetProjectFile.Analyzers/DotNetProjectFile.Analyzers.csproj
  src/DotNetProjectFile.Analyzers/README.md
  src/DotNetProjectFile.Analyzers/Rule.cs
Labels: New rule

#69 Improvement: Support choose
  build.sln
  dotnet-project-file-analyzers.sln
  projects/ChooseWhen/ChooseWhen.csproj
  projects/ChooseWhen/Placeholder.cs
  specs/DotNetProjectFile.Analyzers.Specs/DotNetProjectFile.Analyzers.Specs.csproj
  specs/DotNetProjectFile.Analyzers.Specs/MS_Build/Choose_specs.cs
  specs/DotNetProjectFile.Analyzers.Specs/Properties/GlobalUsings.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/DefinePropertiesOnce.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/ReassignPropertiesWithDifferentValue.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/RemoveEmptyNodes.cs
  src/DotNetProjectFile.Analyzers/DotNetProjectFile.Analyzers.csproj
  src/DotNetProjectFile.Analyzers/MsBuild/Choose.cs
  src/DotNetProjectFile.Analyzers/MsBuild/ItemGroup.cs
  src/DotNetProjectFile.Analyzers/MsBuild/Node.cs
  src/DotNetProjectFile.Analyzers/MsBuild/Nodes.cs
  src/DotNetProjectFile.Analyzers/MsBuild/Otherwise.cs
  src/DotNetProjectFile.Analyzers/MsBuild/Project.cs
  src/DotNetProjectFile.Analyzers/MsBuild/PropertyGroup.cs
  src/DotNetProjectFile.Analyzers/MsBuild/When.cs
  src/DotNetProjectFile.Analyzers/Rule.cs
Labels: enhancement

#73 Host documention at github.io
  projects/WithLicenseUrl/WithLicenseUrl.csproj
  rules/Proj0211.md
  specs/DotNetProjectFile.Analyzers.Specs/Design_specs.cs
  specs/DotNetProjectFile.Analyzers.Specs/Rules/MS_Build/Avoid_license_url.cs
  src/DotNetProjectFile.Analyzers/README.md
  src/DotNetProjectFile.Analyzers/Rule.cs
Labels: enhancement

#78 Link to .html instead of .md
  specs/DotNetProjectFile.Analyzers.Specs/Design_specs.cs
  src/DotNetProjectFile.Analyzers/README.md
  src/DotNetProjectFile.Analyzers/Rule.cs
Labels: enhancement

#79 Improve Proj2002 informativeness
  specs/DotNetProjectFile.Analyzers.Specs/Rules/RESX/Sort_data_alphabetically.cs
  src/DotNetProjectFile.Analyzers/Analyzers/Helpers/CheckAlphabeticalOrderExtensions.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/OrderPackageReferencesAlphabetically.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/OrderProjectReferencesAlphabetically.cs
  src/DotNetProjectFile.Analyzers/Analyzers/Resx/SortDataAlphabetically.cs
  src/DotNetProjectFile.Analyzers/DotNetProjectFile.Analyzers.csproj
  src/DotNetProjectFile.Analyzers/MsBuild/ItemGroup.cs
  src/DotNetProjectFile.Analyzers/MsBuild/Projects.cs
  src/DotNetProjectFile.Analyzers/Properties/GlobalUsings.cs
  src/DotNetProjectFile.Analyzers/Resx/Resources.cs
  src/DotNetProjectFile.Analyzers/Rule.cs
Labels: enhancement
