Repository dotnet-project-file-analyzers/dotnet-project-file-analyzers, pull requests merged in 2024-02, with the labels that each got.

#102 Mark analyzer as dev dependency
  src/DotNetProjectFile.Analyzers/DotNetProjectFile.Analyzers.csproj
Labels: enhancement

#107 FP Proj0006: Directory.Build.Props is not required to be added as additional file
  specs/DotNetProjectFile.Analyzers.Specs/Rules/MS_Build/Add_additional_files.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/AddAdditionalFile.cs
  src/DotNetProjectFile.Analyzers/DotNetProjectFile.Analyzers.csproj
Labels: FP

#104 Expose analyzer configuration
  src/DotNetProjectFile.Analyzers/Diagnostics/MissingAnalyzerConfigOptions.cs
  src/DotNetProjectFile.Analyzers/Diagnostics/ProjectFileAnalysisContext.cs
  src/DotNetProjectFile.Analyzers/MsBuild/Project.cs
Labels: enhancement

#106 Proj0600 Avoid generate package on build when project is not packable
  dotnet-project-file-analyzers.sln
  projects/CompliantCSharpPackage/CompliantCSharpPackage.csproj
  projects/GeneratePackageNotPackable/GeneratePackageNotPackable.csproj
  projects/GeneratePackageNotPackable/Placeholder.cs
  specs/DotNetProjectFile.Analyzers.Specs/Rules/MS_Build/Avoid_generate_on_build.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/AvoidGeneratePackageOnBuildWhenNotPackable.cs
  src/DotNetProjectFile.Analyzers/DotNetProjectFile.Analyzers.csproj
  src/DotNetProjectFile.Analyzers/MsBuild/GeneratePackageOnBuild.cs
  src/DotNetProjectFile.Analyzers/MsBuild/PropertyGroup.cs
  src/DotNetProjectFile.Analyzers/README.md
  src/DotNetProjectFile.Analyzers/Rule.cs
Labels: New rule

#109 New Rules: Enable package validation (Proj0240 & Proj0241)
  dotnet-project-file-analyzers.sln
  projects/CompliantCSharpPackage/CompliantCSharpPackage.csproj
  projects/NoBaselineVersion/NoBaselineVersion.csproj
  projects/NoBaselineVersion/Placeholder.cs
  projects/PackageValidationDisabled/PackageValidationDisabled.csproj
  projects/PackageValidationDisabled/Placeholder.cs
  specs/DotNetProjectFile.Analyzers.Specs/Rules/MS_Build/Define_package_validation_baseline_version.cs
  specs/DotNetProjectFile.Analyzers.Specs/Rules/MS_Build/Enable_package_validation.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/DefinePackageInfo.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/DefinePackageValidationBaselineVersion.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/EnablePackageValidation.cs
  src/DotNetProjectFile.Analyzers/DotNetProjectFile.Analyzers.csproj
  src/DotNetProjectFile.Analyzers/Extensions/DotNetProjectFile.MsBuild.Project.cs
  src/DotNetProjectFile.Analyzers/MsBuild/DevelopmentDependency.cs
  src/DotNetProjectFile.Analyzers/MsBuild/EnablePackageValidation.cs
  src/DotNetProjectFile.Analyzers/MsBuild/MsBuildDefaults.cs
  src/DotNetProjectFile.Analyzers/MsBuild/PackageValidationBaselineVersion.cs
  src/DotNetProjectFile.Analyzers/MsBuild/PropertyGroup.cs
  src/DotNetProjectFile.Analyzers/Rule.cs
Labels: New rule

#111 New Rule Proj0022: Build action includes should exist
  build.sln
  dotnet-project-file-analyzers.sln
  projects/EmptyInclude/EmptyInclude.csproj
  specs/DotNetProjectFile.Analyzers.Specs/Design_specs.cs
  specs/DotNetProjectFile.Analyzers.Specs/Rules/MS_Build/Build_action_include_should_exist.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/BuildActionIncludeShouldExist.cs
  src/DotNetProjectFile.Analyzers/DotNetProjectFile.Analyzers.csproj
  src/DotNetProjectFile.Analyzers/IO/FileSystemSelector.cs
  src/DotNetProjectFile.Analyzers/MsBuild/BuildAction.cs
  src/DotNetProjectFile.Analyzers/README.md
  src/DotNetProjectFile.Analyzers/Rule.cs
Labels: New rule
