Repository dotnet-project-file-analyzers/dotnet-project-file-analyzers, pull requests merged in 2025-05, with the labels that each got.

#432 Investigate failing builds
  .github/workflows/build-test.yaml
  props/common.props
  specs/Benchmarks/Benchmarks.csproj
  specs/DotNetProjectFile.Analyzers.Specs/DotNetProjectFile.Analyzers.Specs.csproj
  specs/DotNetProjectFile.Analyzers.Specs/Rules/All.cs
  src/DotNetProjectFile.Analyzers.Sdk/DotNetProjectFile.Analyzers.Sdk.csproj
  src/DotNetProjectFile.Analyzers/DotNetProjectFile.Analyzers.csproj
Labels: enhancement

#426 Proj0022: Include <EditorConfig> and <GlobalAnalyzerConfigFiles> as build actions
  projects/ConfigFilesExistence/ConfigFilesExistence.csproj
  projects/ConfigFilesExistence/analyzers-config.ini
  projects/ConfigFilesExistence/editor-config.ini
  specs/DotNetProjectFile.Analyzers.Specs/Rules/MS_Build/Build_action_include_should_exist.cs
  src/DotNetProjectFile.Analyzers/DotNetProjectFile.Analyzers.csproj
  src/DotNetProjectFile.Analyzers/MsBuild/BuildAction.cs
  src/DotNetProjectFile.Analyzers/MsBuild/EditorConfgFiles.cs
  src/DotNetProjectFile.Analyzers/MsBuild/GlobalAnalyzerConfigFiles.cs
Labels: FN

#431 Advise the use of .globalconfig over .editorconfig
  globalconfig.verified.txt
  specs/Benchmarks/Files/ini-1220-lines.ini
  specs/DotNetProjectFile.Analyzers.Specs/Rules/MS_Build/Migrate_from_Ruleset_to_GlobalConfig_file.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/EnableGenerateDocumentationFile.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/MigrateFromRulesetToGlobalConfigFile.cs
  src/DotNetProjectFile.Analyzers/DotNetProjectFile.Analyzers.csproj
  src/DotNetProjectFile.Analyzers/README.md
  src/DotNetProjectFile.Analyzers/Rule.cs
Labels: documentation

#435 Proj0401: Only publish executables
  globalconfig.verified.txt
  projects/CompliantCSharp/CompliantCSharp.csproj
  projects/PublishableWebApp/Program.cs
  projects/PublishableWebApp/PublishableWebApp.csproj
  specs/DotNetProjectFile.Analyzers.Specs/Rules/MS_Build/Publish_executables_only.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/DefineOutputType.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/PublishExeOnly.cs
  src/DotNetProjectFile.Analyzers/DotNetProjectFile.Analyzers.csproj
  src/DotNetProjectFile.Analyzers/MsBuild/Project.Property.cs
  src/DotNetProjectFile.Analyzers/README.md
  src/DotNetProjectFile.Analyzers/Rule.cs
Labels: New rule

#428 Add rules to improve on NuGet security audits
  globalconfig.verified.txt
  projects/CompliantCSharp/CompliantCSharp.csproj
  projects/CompliantCSharpPackage/CompliantCSharpPackage.csproj
  props/common.props
  specs/DotNetProjectFile.Analyzers.Specs/Rules/MS_Build/Run_NuGet_security_audits_on_all.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/NuGetSecurityAuditShouldReportModerateAndUp.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/RunNuGetSecurityAuditsOnAll.cs
  src/DotNetProjectFile.Analyzers/DotNetProjectFile.Analyzers.csproj
  src/DotNetProjectFile.Analyzers/MsBuild/NuGetAuditLevel.cs
  src/DotNetProjectFile.Analyzers/MsBuild/NuGetAuditMode.cs
  src/DotNetProjectFile.Analyzers/README.md
  src/DotNetProjectFile.Analyzers/Rule.cs
Labels: New rule

#436 Proj0042, Proj0043, Proj0044 Lock files
  README.md
  globalconfig.verified.txt
  projects/CompliantCSharp/CompliantCSharp.csproj
  projects/CompliantCSharp/packages.lock.json
  projects/CompliantCSharpPackage/CompliantCSharpPackage.csproj
  projects/CompliantCSharpPackage/packages.lock.json
  specs/DotNetProjectFile.Analyzers.Specs/Rules/MS_Build/Enable_continuous_integration_build.cs
  specs/DotNetProjectFile.Analyzers.Specs/Rules/MS_Build/Enable_restore_locked_mode.cs
  specs/DotNetProjectFile.Analyzers.Specs/Rules/MS_Build/Use_lock_files.cs
  specs/DotNetProjectFile.Analyzers.Specs/TestTools/CachedProjectLoader.cs
  src/DotNetProjectFile.Analyzers.Sdk/DotNetProjectFile.Analyzers.Sdk.csproj
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/EnableContinuousIntegrationBuild.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/EnableRestoreLockedMode.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/UseLockFiles.cs
  src/DotNetProjectFile.Analyzers/BuildAgents/BuildAgent.cs
  src/DotNetProjectFile.Analyzers/DotNetProjectFile.Analyzers.csproj
  src/DotNetProjectFile.Analyzers/MsBuild/ContinuousIntegrationBuild.cs
  src/DotNetProjectFile.Analyzers/MsBuild/MsBuildDefaults.cs
  src/DotNetProjectFile.Analyzers/MsBuild/Project.Property.cs
  src/DotNetProjectFile.Analyzers/MsBuild/RestoreLockedMode.cs
  src/DotNetProjectFile.Analyzers/MsBuild/RestorePackagesWithLockFile.cs
  src/DotNetProjectFile.Analyzers/README.md
  src/DotNetProjectFile.Analyzers/Rule.cs
  src/DotNetProjectFile.Analyzers/packages.lock.json
Labels: New rule

#401 Check transitive depedencies too
  globalconfig.verified.txt
  specs/DotNetProjectFile.Analyzers.Specs/Design_specs.cs
  specs/DotNetProjectFile.Analyzers.Specs/Licensing/Url_specs.cs
  specs/DotNetProjectFile.Analyzers.Specs/Rules/MS_Build/ThirdPartyLicensence_compliance.cs
  specs/DotNetProjectFile.Analyzers.Specs/Rules/MS_Build/Third_Party_license_compliance.cs
  src/DotNetProjectFile.Analyzers/Analyzers/MsBuild/ThirdPartyLicenseResolver.cs
  src/DotNetProjectFile.Analyzers/DotNetProjectFile.Analyzers.csproj
  src/DotNetProjectFile.Analyzers/Extensions/System.Linq.Enumerable.cs
  src/DotNetProjectFile.Analyzers/Licensing/Licenses.cs
  src/DotNetProjectFile.Analyzers/MsBuild/PackageReference.cs
  src/DotNetProjectFile.Analyzers/MsBuild/PackageReferenceBase.cs
  src/DotNetProjectFile.Analyzers/NuGet/PackageCache.cs
  src/DotNetProjectFile.Analyzers/NuGet/Packaging/NuspecDependency.cs
  src/DotNetProjectFile.Analyzers/Rule.cs
Labels: FN
